
.mt-1 {
    margin-top: 10px !important;
}

.mt-2 {
    margin-top: 20px !important;
}

.mt-4 {
    margin-top: 40px !important;
}

.mt-8 {
    margin-top: 80px !important;
}

.mb-1 {
    margin-bottom: 10px !important;
}

.mb-2 {
    margin-bottom: 20px !important;
}

.mb-4 {
    margin-bottom: 40px !important;
}

.mb-8 {
    margin-bottom: 80px !important;
}

.ml-2 {
    margin-left: 20px !important;
}

.ml-1 {
    margin-left: 10px !important;
}

.mr-2 {
    margin-right: 20px !important;
}

.flex {
    display: flex;
}

.center_h {
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.page{
    padding: 18px;
    height: 100vh;
}

.app-container {
    padding: 15px;
    border-radius: 15px;
    background-color: #f3f2f6; /* Shared background for containers */
    box-sizing: border-box; /* Ensure padding and border are included in width */
    margin-top: 10px;
    margin-bottom: 10px;
}


.app-input {
    padding: 10px;
    border-radius: 10px;
    background-color: #f3f2f6;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.app-button{
    background-color: #007BFF;
    color: white;
    text-align: center;
    display: inline-block; /* Makes it behave like a button */
    box-sizing: border-box;
    cursor: pointer; /* Makes it feel like a button */
    margin: 10px 0;
    width: 100%; /* Default width is 100% but can be overridden */
    padding: 12px 24px;
    font-size: 18px;
    height: 45px;
    border-radius: 5px;
}
