<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enchanted.mapper.MessageMapper">

    <select id="search" resultType="com.enchanted.entity.Message">
        SELECT * FROM `message`
        <where>
            <if test="params.senderId != null and params.recipientId != null">
                AND (
                (sender_id = #{params.senderId} AND recipient_id = #{params.recipientId})
                OR
                (sender_id = #{params.recipientId} AND recipient_id = #{params.senderId})
                )
            </if>
            <if test="params.userId != null">
                AND (
                sender_id = #{params.userId}
                OR
                recipient_id = #{params.userId}
                )
            </if>
            <if test="params.status != null">
                AND status = #{params.status}
            </if>
            <if test="params.isRead != null">
                AND is_read = #{params.isRead}
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                AND content LIKE CONCAT('%', #{params.keyword}, '%')
            </if>
            <!-- Add more conditions as needed -->
        </where>
        ORDER BY created_at DESC
    </select>

    <update id="markAsRead">
        UPDATE `message`
        SET is_read = 1
        WHERE id IN
        <foreach collection="messageIds" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </update>

</mapper>
