<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enchanted.mapper.OrderMapper">

    <resultMap id="OrderWithAssociationsResultMap" type="com.enchanted.entity.Order">
        <id property="id" column="id"/>
        <result property="identifier" column="identifier"/>
        <result property="title" column="title"/>
        <result property="titleCn" column="title_cn"/>
        <result property="clientId" column="client_id"/>
        <result property="servantId" column="servant_id"/>
        <result property="addressId" column="address_id"/>
        <result property="requiredServantType" column="required_servant_type"/>
        <result property="requiredGender" column="required_gender"/>
        <result property="requiredAgeMin" column="required_age_min"/>
        <result property="requiredAgeMax" column="required_age_max"/>
        <result property="serviceDuration" column="service_duration"/>
        <result property="serviceScheduleStart" column="service_schedule_start"/>
        <result property="serviceScheduleEnd" column="service_schedule_end"/>
        <result property="price" column="price"/>
        <result property="pendingServantPayment" column="pending_servant_payment"/>
        <result property="performanceRating" column="performance_rating"/>
        <result property="candidateCount" column="candidate_count"/>
        <result property="status" column="status"/>
        <result property="paymentMethod" column="payment_method"/>
        <result property="countdownStartAt" column="countdown_start_at"/>
        <result property="canceledAt" column="canceled_at"/>
        <result property="completedAt" column="completed_at"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>

        <!-- Map Address fields -->
        <association property="address" javaType="com.enchanted.entity.Address">
            <id property="id" column="address_id"/>
            <result property="userId" column="address_user_id"/>
            <result property="consignee" column="consignee"/>
            <result property="phoneNumber" column="phone_number"/>
            <result property="address" column="address"/>
            <result property="addressName" column="address_name"/>
            <result property="detail" column="detail"/>
            <result property="latitude" column="latitude"/>
            <result property="longitude" column="longitude"/>
            <result property="isDeleted" column="address_is_deleted"/>
            <result property="createdAt" column="address_created_at"/>
        </association>

        <association property="serviceType" javaType="com.enchanted.entity.ServiceType">
            <id property="id" column="service_type_id"/>
            <result property="name" column="service_type_name"/>
            <result property="nameCn" column="service_type_name_cn"/>
            <result property="coverImg" column="service_type_cover_img"/>
            <result property="introImg" column="service_type_intro_img"/>
            <result property="isDeleted" column="service_type_is_deleted"/>
            <result property="createdAt" column="service_type_created_at"/>
        </association>
    </resultMap>

    <!-- Modified Search Query -->
    <select id="search" resultMap="OrderWithAssociationsResultMap">
        SELECT
            o.*,
            -- Address fields
            a.id AS address_id,
            a.user_id AS address_user_id,
            a.consignee,
            a.phone_number,
            a.address,
            a.address_name,
            a.detail,
            a.latitude,
            a.longitude,
            a.is_deleted AS address_is_deleted,
            a.created_at AS address_created_at,
            -- ServiceType fields
            st.id AS service_type_id,
            st.name AS service_type_name,
            st.name_cn AS service_type_name_cn,
            st.cover_img AS service_type_cover_img,
            st.intro_img AS service_type_intro_img,
            st.is_deleted AS service_type_is_deleted,
            st.created_at AS service_type_created_at
            FROM `order` o
            LEFT JOIN address a ON o.address_id = a.id
            LEFT JOIN service_type st ON o.required_servant_type = st.id
            <where>
                o.is_deleted = 0
                <if test="params.id != null and params.id != ''">
                    AND o.id = #{params.id}
                </if>
                <if test="params.keyword != null and params.keyword != ''">
                    AND (
                    o.title LIKE CONCAT('%', #{params.keyword}, '%')
                    OR o.title_cn LIKE CONCAT('%', #{params.keyword}, '%')
                    )
                </if>
                <if test="params.clientId != null and params.clientId != ''">
                    AND o.client_id = #{params.clientId}
                </if>
                <if test="params.servantId != null and params.servantId != ''">
                    AND o.servant_id = #{params.servantId}
                </if>
                <if test="params.status != null and params.status != -1">
                    AND o.status = #{params.status}
                </if>
                <if test="params.userGender != null and params.userGender != ''">
                    AND (o.required_gender IS NULL OR o.required_gender = '' OR o.required_gender = #{params.userGender})
                </if>
                <if test="params.userAge != null and params.userAge != ''">
                    AND (
                        (o.required_age_min IS NULL OR o.required_age_min &lt;= #{params.userAge})
                            AND
                        (o.required_age_max IS NULL OR o.required_age_max &gt;= #{params.userAge})
                    )
                </if>
            </where>
        ORDER BY
        <choose>
            <when test="params.sortByPriceDesc == true">
                o.price DESC
            </when>
            <otherwise>
                o.created_at DESC
            </otherwise>
        </choose>
    </select>


    <select id="getServantOrders" resultMap="OrderWithAssociationsResultMap">
        SELECT
        o.*,
        a.id AS address_id,
        a.user_id AS address_user_id,
        a.consignee,
        a.phone_number,
        a.address,
        a.address_name,
        a.detail,
        a.latitude,
        a.longitude,
        a.is_deleted AS address_is_deleted,
        a.created_at AS address_created_at,
        st.id AS service_type_id,
        st.name AS service_type_name,
        st.name_cn AS service_type_name_cn,
        st.cover_img AS service_type_cover_img,
        st.intro_img AS service_type_intro_img,
        st.is_deleted AS service_type_is_deleted,
        st.created_at AS service_type_created_at
        FROM `order` o
        JOIN order_candidate oc ON oc.order_id = o.id
        LEFT JOIN address a ON o.address_id = a.id
        LEFT JOIN service_type st ON o.required_servant_type = st.id
        <where>
            o.is_deleted = 0
            AND oc.is_deleted = 0
            AND oc.servant_id = #{params.servantId}
            <if test="params.statusType == 1">
                AND o.status = 0
                AND o.servant_id IS NULL
            </if>
            <if test="params.statusType == 2">
                AND (o.status = 3 OR (o.servant_id IS NOT NULL AND o.servant_id != #{params.servantId}))
            </if>
        </where>
        ORDER BY o.created_at DESC
    </select>

</mapper>
