<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enchanted.mapper.ServiceTypeMapper">

    <resultMap type="com.enchanted.entity.ServiceType" id="ServiceTypeResultMap">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="coverImg" column="cover_img"/>
        <result property="introImg" column="intro_img"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="search" resultType="com.enchanted.entity.ServiceType" resultMap="ServiceTypeResultMap">
        SELECT * FROM `service_type`
        <where>
            is_deleted = 0
            <if test="params.id != null and params.id != ''">
                AND id = #{params.id}
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                AND name LIKE CONCAT('%', #{params.keyword}, '%')
            </if>
            <!-- Add more conditions as needed -->
        </where>
        ORDER BY created_at DESC
    </select>

</mapper>
