<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.enchanted.mapper.UserClientMapper">

    <resultMap type="com.enchanted.entity.UserClient" id="UserClientResultMap">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
    </resultMap>

    <select id="search" resultType="com.enchanted.entity.UserClient" resultMap="UserClientResultMap">
        SELECT * FROM `user_client`
        <where>
            is_deleted = 0
            <if test="params.id != null and params.id != ''">
                AND id = #{params.id}
            </if>
            <if test="params.userId != null and params.userId != ''">
                AND user_id = #{params.userId}
            </if>
            <if test="params.keyword != null and params.keyword != ''">
                AND (bio LIKE CONCAT('%', #{params.keyword}, '%'))
            </if>
        </where>
        ORDER BY created_at DESC
    </select>

</mapper>
