# Wechat
WECHAT_APP_ID_CLIENT="your client miniapp appid"
WECHAT_SECRET_CLIENT="your client miniapp secret"
WECHAT_APP_ID_SERVANT="your servant miniapp appid"
WECHAT_SECRET_SERVANT="your servant miniapp secret"

# Aliyun OSS
ALIYUN_OSS_ENDPOINT="your endpoint"
ALIYUN_OSS_ACCESS_KEY_ID="your access key"
ALIYUN_OSS_ACCESS_KEY_SECRET="your access secret"
ALIYUN_OSS_BUCKET_NAME="your bucket name"